.contatti-page {
    padding: 50px 0;
  }
  
  .contatti-heading {
    color: #E94D1B;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .address, .contact-info {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .address h4, .contact-info h4 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .address p, .contact-info p {
    margin-bottom: 10px;
  }
  
  .contact-info p {
    font-weight: bold;
  }
  .button{
    margin-top: 10px;
    background-color: #E94D1B !important;
    border: #E94D1B !important;
    font-weight: bold !important;
  }
  