.title{
    text-align: center;
    color: #E94D1B;
    margin-top: 50px;
    margin-bottom: 50px;
}
.cardTitle{
    color: #E94D1B !important;
    font-weight: bold !important;
}
.cardEffect{
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: 14px -7px 29px -12px #000000; 
    box-shadow: 14px -7px 29px -12px #000000;
}
.cardEffect:hover{
    transform: scale(1.02);
}