.bgColour{
    background-color:#E94D1B;
}

.logo{
    width: 200px;
}

.userAdmin{
    color: white;
}
.userAdmin:hover{
    
    transform: scale(1.2);
}
.bgColourAdmin{
    background-color:black;
}
.login{
    padding-right:80px;
    padding-left: 80px;
}
