.bgColour{
    background-color:#E94D1B;
}

.logo{
    width: 200px;
}

.userAdmin{
    font-size: 30px;
    color: white;
}
.userAdmin:hover{
    
    transform: scale(1.2);
}
.bgColourAdmin{
    background-color:black;
}